.center {
    color: rgb(2, 12, 12);
    padding: 12px;
    font-family: Arial;
    text-align: center;
  }

  .rtl {
    display: flex;
}

form {
    overflow: hidden;
    padding: 12px;
}
 
h4 {
  text-align: center;
  margin-top: 30px;
}

.half_left{
  width:30%;
  float: left;
}

.half_right{
  width:30%;
  float: right;
}

input {
  margin: 20px;
  height: 100%;
  float: center;
}

.search_btn {
  margin-top: 20px;
}

.select {
  margin-top: 20px;
  margin-right: 12px;
  padding-left: 12px;

}

