.container {
  margin: 20px;
}

.center {
    color: rgb(2, 12, 12);
    padding: 12px;
    font-family: Arial;
    text-align: center;
  }

  .rtl {
    display: flex;
}

/* .form {
    overflow: hidden;
    padding: 12px;
} */
 
h4 {
  text-align: center;
  margin-top: 30px;
}

.half_left{
  width:30%;
  float: left;
}

.half_left_50{
  width:50%;
  float: left;
}

.half_right{
  width:30%;
  float: right;
}


input {
  margin: 20px;
  height: 100%;
  float: center;
}

.search_btn {
  margin-top: 20px;
}

.select {
  margin-top: 20px;
  margin-right: 12px;
  padding-left: 12px;

}

.form {
  margin: 20px;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-gap: 16px;
}

.form_50 {
  margin: 20px;
  display: grid;
  grid-template-columns: 50% 1fr;
  grid-gap: 16px;
}

.form_50_2 {
  margin: 20px;
  display: grid;
  grid-template-columns: 50% 2fr;
  grid-gap: 16px;
}

.button_form {
  margin-top: 20px;
  margin-left: 20px;
  grid-column: 2 / 3;
}

.button_form_grid_normal {
  margin-top: 20px;
  margin-left: 20px;
}